{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * postfinance plugin for Craft CMS
 *
 * PostfinanceUtility Utility Content
 *
 * @author    klarplanAg
 * @copyright Copyright (c) 2022 klarplanAg
 * @link      https://klarplan.ch
 * @package   Postfinance
 * @since     1.0.0
 */
#}

<h1>PostfinanceUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@klarplan/postfinance/assetbundles/postfinanceutilityutility/dist', true) ~ '/img/PostfinanceUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>