{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * postfinance plugin for Craft CMS
 *
 * PostfinanceWidget Widget Body
 *
 * @author    klarplanAg
 * @copyright Copyright (c) 2022 klarplanAg
 * @link      https://klarplan.ch
 * @package   Postfinance
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@klarplan/postfinance/assetbundles/postfinancewidgetwidget/dist', true) ~ '/img/PostfinanceWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
